@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        Thanks for submitting your message. <a href="contact.cshtml">Contact us again!</a>
    </body>
</html>
